{% extends 'base.html' %}
{% load static %}    
{% block styles %}          

{% endblock %}
{% block content %}  
<div class="footer">
    <br><br><br><br>
    <div class="row" style="width: 100%;">
        <div class="col-md-5">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <img class="footer-icon" src="{% static 'images/zonk-music.d8b24ab9.png' %}">
                        <p class="rights-text">COPYRIGHT @ ALL RIGHTS RESERVED</p>                                                        
                        <a href=""><p class="socials-icon"><i class="fab fa-instagram"></i></p></a>
                        <a href=""><p class="socials-icon"><i class="fab fa-facebook-f"></i></p></a>
                        <a href=""><p class="socials-icon"><i class="fab fa-twitter"></i></p></a>
                    </div>
                    <div class="col"></div>
                </div>                    
            </div>
        </div>
        <div class="col-md-7">
            <div class="container" style="width: 60%;">
                <div class="row">
                    <div class="col-md-4">
                        <p class="footer-title">ABOUT</p>
                        <p><a class="footer-text" href="{% url 'about'%}" >Who we are</a></p>
                        <p class="footer-text-1"><a href="{% url 'about'%}" >Our staff</a></p>
                    </div>
                    <div class="col-md-4">
                        <p class="footer-title">BLOG</p>
                        <a class="footer-text" href="{% url 'blog'%}" >Articles</a>                            
                    </div>
                    <div class="col-md-4">
                        <p class="footer-title">SHOWS</p>
                        <a class="footer-text" href="{% url 'shows'%}" >Our shows</a> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="footer-title">EVENTS</p>
                        <a class="footer-text" href="{% url 'events'%}" >Our Events</a>
                    </div>
                    <div class="col-md-4">
                        <p class="footer-title">GALLERY</p>
                        <a class="footer-text" href="{% url 'gallery'%}" >Photos</a>
                    </div>
                    <div class="col-md-4">
                        <p class="footer-title">CONTACTS</p>
                        <a class="footer-text" href="{% url 'contact'%}" >Contact Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div> 

<style>
    .footer {
            background: black;
        }

        .footer-icon {
            height: 80px;
            width: 80px;
            animation: animRotat 10s linear infinite;                     
        }
        
        @keyframes animRotat {
            0%{
                transform: rotateY(0deg);
            }
            100%{
                transform: rotateY(360deg);
               }    
        }

        .rights-text {
            font-size: 10px;
            font-weight: bold;            
        }

        .socials-icon {
            color: white;
            font-size: 15px;
            display: inline-block;
            padding: 2px 0 0 15px;
        }

        .footer-title {
            color: white;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Roboto';
        }

        .footer-text {
            color: #808080;
            font-size: 16px;
            padding: 0;
            margin: 0;
            font-weight: 400;
            font-family: 'Roboto';
            text-decoration: none !important;
        }

        .footer-text-1 {            
            margin-top: -17px;
        }
        .footer-text-1 a{
            color: rgb(100, 100, 100);
            font-size: 15px;
            padding: 0;
            font-weight: 700;
            text-decoration: none !important;
        }

        .footer-text:hover {
            color: rgb(100, 100, 100);
        }

        .footer-text:focus {
            color: rgb(100, 100, 100);
        }

        .footer-text-1 a:hover {
            color: rgb(100, 100, 100);
        }

        .footer-text-1 a:focus {
            color: rgb(100, 100, 100);
        }
        
</style>   
{% endblock %}