{% extends 'base.html' %}
{% load static %}    
    {% block styles %}                            
        <link href="{% static 'css/nav.scss' %}" rel="stylesheet"/>           
    {% endblock %}          
{% block content %}  
{{block.super}}     
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark" style="background-color: black; ">        
        <div class="row" style="width: 100vw;">
            <div class="col-sm-1 col-md-1"></div>
            <div class="col-sm-11 col-md-11">
                <div class="container-fluid">
                    <a class="nav-link" id="icnlink1" href="{% url 'home'%}">ZonkMusic</a>
                    <a class="btn navbar-toggler" role="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav navbar-nav-scroll">                
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" aria-current="page" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>                               
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'gallery'%}">Gallery</a>                               
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'shows'%}">Shows</a>                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'blog'%}">Blog</a>                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'events'%}">Events</a>                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'about'%}">About Us</a>            
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="icnlink" href="{% url 'contact'%}">Contact Us</a>                
                            </li>
                        </ul>
                    </div>
                </div>               
            </div>
        </div>        
    </nav>
    <style>        

        .navbar {
            width: 100vw !important;
        }        

        #icnlink1 {
            color: #a3a8ac;
            font-weight: 700;
            padding-left: 10px;
            font-family: 'Roboto';
            font-size: 16px;
        }        

        #icnlink {
            color: #a3a8ac;
            font-weight: 700;
            padding-left: 10px;
            font-family: 'Roboto';
            font-size: 16px;
        }

        #icnlink1:hover {
            color: #e43c5c;
            font-weight: 700;
            padding-left: 10px;
        }

        #icnlink:hover {
            color: #e43c5c;
            font-weight: 700;
            padding-left: 10px;
        }
    </style>    
    <!--<script>
        $(document).ready(function(){
            var movement = document.getElementsById("navbarScroll");
            $(".nav-tog").click(function(){                
                if(movement.className == "collapse"){
                    movement.classList.remove("collapse");
                    movement.classList.add("show");
                } else {
                    movement.className == "collapse";
                }

                if(movement.className == "show"){
                    movement.classList.remove("show");
                    movement.classList.add("collapse");
                } else {
                    movement.className == "show";
                }
            })
        })
    </script>-->
    <script>        
        $('.navbar-collapse').on('show.bs.collapse', function () {
          $(this).addClass("show");
        }).on('hide.bs.collapse', function () {
          $(this).removeClass("show");
        })
    </script>
{% endblock %}