{% extends 'base.html' %}
{% load static %}    
    {% block styles %}
        <link href="{% static 'css/shows.css' %}" rel="stylesheet"/>               
    {% endblock %}
{% block content %}     
    {{block.super}}                 
    {% include "nav.html" %}    
    <div class="landing">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="container">        
                    <h2 class="landing-title">Shows</h2>
                    <p class="landing-text-1">Home  / </p>
                    <p class="landing-text-2"> Shows</p>
                </div>
            </div>            
        </div>
    </div>  
    <div class="shows">        
        <div class="container-fluid">
            <h2 class="section-title">Our Shows</h2>
            <br>            
            <div class="row">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-10 col-md-8">                    
                    <div class="row">  
                        {% if shows %}                  
                            {% for show in shows %}
                                <div class="col-sm-12 col-md-6" style="margin-top: 15px; padding-top: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{{show.showimg.url}}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">{{show.showtitle}}</h4>
                                            <p class="show-period">{{show.showperiod}}</p>
                                            <p class="show-time">{{show.showtime}}</p>
                                            <p class="show-text">{{show.showabout}}</p>
                                            <a class="btn check-btn" role="button" href="{{show.showurl1}}" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>                                    
                            {% endfor %}
                        {% else %}                            
                                <div class="col-md-6" style="margin-top: 15px; padding-top: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/Africa.ffdbe221.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">Africa Connect</h4>
                                            <p class="show-period">Morning Show</p>
                                            <p class="show-time">10AM - 1PM</p>
                                            <p class="show-text">Africa Connect is a morning Show that happens from Monday to Friday. From 10 am - 1 pm. It is brought to you with Grace and Charles</p>
                                            <a class="btn check-btn" role="button" href="{% url 'about'%}" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>    
                                <div class="col-md-6" style="margin-top: 20px; padding-top: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/monchoka.2863542a.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">Monchoka</h4>
                                            <p class="show-period">Evening Show</p>
                                            <p class="show-time">4pm - 7PM</p>
                                            <p class="show-text">Monchoka is an evening Show that happens from Monday to Sunday. From 4 pm - 7 pm. It is brought to you with Jeff, Kyle, and Zozo.</p>
                                            <a class="btn check-btn" role="button" href="{% url 'about'%}" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>                    
                                <div class="col-md-6" style="margin-top: 20px; padding-top: 5px; ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/house.6bee06fc.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">Pinto IQ on the Decks</h4>
                                            <p class="show-period">Evening Show</p>
                                            <p class="show-time">10pm - 1AM</p>
                                            <p class="show-text">Pinto IQ is a night Show that happens from Friday to Sunday. From 10 pm - 1 am. It is brought to you by Pinto.</p>
                                            <a class="btn check-btn" role="button" href="{% url 'about'%}" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>
                                <div class="col-md-6" style="margin-top: 20px; padding-top: 5px; ">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/3gs.1180f2f2.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">3G's</h4>
                                            <p class="show-period">Afternoon Show</p>
                                            <p class="show-time">1pm - 4pm</p>
                                            <p class="show-text">3G's is an afternoon Show that happens from Monday to SUnday. From 1 pm- 4 pm. It is brought to you with Teddy, Honey and GIGI.</p>
                                            <a class="btn check-btn" role="button" href="https://zonkradio.com/broadcaster/231264/3gs/" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>                                                                
                                <br>                                
                                <div class="col-md-6" style="margin-top: 20px; padding-top: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/becky.553bf505.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">Praise</h4>
                                            <p class="show-period">Morning Show</p>
                                            <p class="show-time">9AM - 12PM</p>
                                            <p class="show-text">Praise is a morning Show that happens from Monday to Friday. From 10 am- 12 pm. It is brought to you with Becky.</p>
                                            <a class="btn check-btn" role="button" href="https://zonkradio.com/broadcaster/241465/becky/" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>  
                                <div class="col-md-6" style="margin-top: 20px; padding-top: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img class="show-img" src="{% static 'images/behind.cf055133.jpg' %}">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="show-title">Behind the scenes</h4>
                                            <p class="show-period">Afternoon Show</p>
                                            <p class="show-time">2pm - 4pm</p>
                                            <p class="show-text">Behind the Scenes is an evening Show that happens from Monday to Sunday. From 3 pm - 6 am. It is brought to you with Tim and Amos.</p>
                                            <a class="btn check-btn" role="button" href="https://zonkradio.com/scheduling/" target="_blank">Check Out</a>
                                        </div>
                                        <br><br>                        
                                    </div>                    
                                </div>
                                <br>                                  
                        {% endif%}
                    </div>   
                    <br><br><br>                     
                </div>
                <div class="col-sm-1 col-md-2"></div>
            </div>            
        </div>                
    </div>
    
    {% include "footer.html" %}    
    
    <style>
        .landing {
            height: 61vh;
            background: linear-gradient(#0a0a0a77,#0a0a0a77,#0a0a0a77),url("{% static 'images/show.c2789dd3.jpg' %}");
            background-repeat: repeat;
            background-attachment: fixed;            
            background-size: cover;
            -webkit-animation: backgroundScroll 15s linear 1;
            -webkit-animation-fill-mode: forwards;
            animation: backgroundScroll 15s linear 1;
            animation-fill-mode: forwards;
        }

        @-webkit-keyframes backgroundScroll {
            from {background-position: 0 0;}
            to {background-position: 0 -180px;}            
        }

        @keyframes backgroundScroll {
            from {background-position: 0 0;}
            to {background-position: 0 -180px;}            
        }
        
        .check-btn {
            background: black;
            color: white;
            padding: 5px 10px;
            font-size: 16px;
        }

        .check-btn:hover {
            box-shadow: none;
            color: white;
        }

        .check-btn:focus {
            box-shadow: none;
            color: white
        }
    </style>
{% endblock %}