.landing-title {
    padding: 25vh 0 0 0;
    color: #d5467d;
    font-size: 45px;
}

.landing-text-1 {            
    color: white;
    display: inline-block;
}

.landing-text-2 {
    color: #0beb82;
    display: inline-block;
    padding-left: 15px;
}

.about-content {
    background: black;
}

.about-title {
    color: #c7c7c7;
    font-size: 60px;
    overflow: hidden;    
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 50;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}


.about-text {
    color: #d0d0d0;
}

.staff {
    background: #575757;
    padding: 0;
}

.staff-img {
    height: auto;    
    width: 100%;
}

.staff-name {
    color: white;
    font-weight: 545;
    text-align: center;
    margin-top: 5px;
}

.staff-pos {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: -10px;
}

.staff-title1 {
    color: #d5467d;
    font-weight: 800;
}

.staff-title2 {
    color: #0beb82;
    font-size: 45px;
}