.landing-title {
    color: #f7567e;
    font-size: 56px;
    font-weight: 400;
    margin-top: 30vh;
    padding-left: 10px;
}

.landing-text-1 {            
    color: #d6d2d2;
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
}

.landing-text-2 {
    color: #32ea91;
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
}

.about-content {
    background: black;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title {               
    height: max-content;        
    min-height: 11vh;
}

.about-title a {
    color: #c2c2c5 !important;
    text-decoration: none !important;
    font-size: 56px;
    font-weight: 400;    
    animation: blink .5s step-end infinite alternate;
    position: relative;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {        
        border-color: transparent;
    }
}

.about-text {
    color: #c2c2c5;    
}

.about-text a {
    color: #c2c2c5 !important;
    text-decoration: none !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.staff {
    background: #575757;
    padding: 0;
}

.staff-img {
    height: auto;    
    width: 100%;
}

.staff-name {
    color: white;
    font-weight: 545;
    text-align: center;
    margin-top: 5px;
}

.staff-pos {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: -10px;
}

.staff-title1 {
    color: #d5467d;
    font-weight: 800;
}

.staff-title2 {
    color: #0beb82;
    font-size: 45px;
}