.landing-title {
    color: #f7567e;
    font-size: 56px;
    font-weight: 400;
    margin-top: 30vh;
    padding-left: 10px;
}

.landing-text-1 {            
    color: #d6d2d2;
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
}

.landing-text-2 {
    color: #32ea91;
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
}

.content {
    background: #575757;
}

.blog-background {
    background-color: black;            
}

.blog-img {
    display: inline-block;
    margin-top: -7px;
}

.blog-text {
    color: white;
    display: inline-block;
    margin-top: 15px;
}

